p, li {
  font-size: 12px;
  line-height: 1.5;
}

h3 {
    font-weight: bold;
    line-height: 1.5;
}

h4 {
    font-weight: bold;
    line-height: 1.5;
}

div.question {
  margin-top: 0.7em;
}

/* Question Page */
#question_page > p {
  margin-top: 0.5em;
}

#question_page > h4 {
  margin-top: 0.5em;
  border-bottom: dotted 1px;
}

.nav {
  font-size: 11px;
  clear: both;
  text-align: center;
  margin: 5px;
}

ul.answers {
  margin-left: 0;
}

ul.answers > li {
  list-style-type: upper-roman;
  list-style-position: inside;
  margin-top: 0.5em;
}

ul.answers > li > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.url_link {
  font-size: 9px;
  border: dotted 1px lightgray;
}

/* end question page*/

/* header */
.logo {
  background-image: app-asset-url("logo-small.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  float: right;
  height: 25px;
  width: 25px;
}

h2 {
  line-height: 25px;
  vertical-align: baseline;
}

#quicksearch {
  width: 140px;
  height: 21px;
  float: right;
  border: solid 1px lightgray;
  padding: 0;
  margin: 1px;
  font-size: 11px;
}

/* end header */