p, li {
  font-size: 12px;
  line-height: 1.5;
}

h2 {
  line-height: 30px;
}

h3 {
    font-weight: bold;
    line-height: 1.5;
}

h4 {
    font-weight: bold;
    line-height: 1.5;
}

div.question {
  margin-top: 0.7em;
}

/* Question Page */
#question_page > p {
  margin-top: 0.5em;
}

#question_page > h4 {
  margin-top: 0.5em;
}

ul.answers {
  margin-left: 0;
}

ul.answers > li {
  list-style-type: upper-roman;
  list-style-position: inside;
  margin-top: 0.5em;
}

.url_link {
  font-size: 9px;
  border: dotted 1px lightgray;
}

.logo {
  background-image: app-asset-url("logo-small.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  float: right;
  height: 25px;
  width: 25px;
}