h2 {
  line-height: 30px;
}

/*question title */
h3 {
    font-style: bold;
    font-size: 95%;
    line-height: 1.25;
    margin-top: 1em;
}

p.summary {
    font-size: 95%;
}

p > .author {
    font-size: 95%;
}

.logo {
  background-image: app-asset-url("logo-small.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  float: right;
  height: 25px;
  width: 25px;
}

li + li {
  margin-top: 0.4em;
}
